{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finder</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <div class="container">
        <div class="hero-section">
            <h1 class="framer-text">Finder</h1>
            <div class="map-container">
                <div id="map"></div>
            </div>
            <h2 class="custom-heading">Encuentra a tu mascota de una forma muy fácil</h2>
        </div>

            <div class="animal-box">
                <img src="{% static 'img/dog.jpg' %}" alt="Perros">
                <div class="animal-box-content">
                    <h2>Perros</h2>
                    <p>Podemos ayudar a encontrar a tus perritos y formar una buena comunidad!</p>
                    <button class="read-more">Read More</button>
                </div>
            </div>
        
            <div class="animal-box">
                <img src="{% static 'img/cat.jpg' %}" alt="Gatos">
                <div class="animal-box-content">
                    <h2>Gatos</h2>
                    <p>Los gatos son ágiles pero no imposibles de encontrar!</p>
                    <button class="read-more">Read More</button>
                </div>
            </div>

        <div class="faq-section">
            <h2>¿Qué es Finder?</h2>
            <div class="faq-item">
                <p>Finder es una aplicación web diseñada para actuar como una alerta comunitaria de animales. Su objetivo es facilitar la localización
                    y recuperación de mascotas perdidas mediante la creación de una plataforma centralizada donde los usuarios pueden 
                    reportar la pérdida de sus mascotas y recibir notificaciones si alguien las encuentra.</p>
            </div>
        </div>

        <div class="cta-section">
            <h2>Regístrate o inicia sesión</h2>
            <div class="cta-buttons">
                <a href="{% url 'register' %}" class="cta-button">Registrarse</a>
                <a href="{% url 'login' %}" class="cta-button">Iniciar sesión</a>
            </div>
        </div>
    </div>

    <footer>
        <p>© 2024 Finder - Todos los derechos reservados</p>
    </footer>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
        // Obtener la ubicación del usuario
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;

                var map = L.map('map').setView([lat, lng], 13);  // Usar la latitud y longitud del usuario

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                L.marker([lat, lng]).addTo(map)
                    .bindPopup('Estás aquí.')
                    .openPopup();
            });
        } else {
            alert("Geolocalización no soportada por tu navegador");
        }
    </script>
</body>
</html>
