.framer-text {
  font-size: 2.5rem;
  text-align: center;
  color: #333;
}

/* Contenedor del mapa */
.map-container {
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sección de animales */
.animal-section {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.animal-box {
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.animal-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.animal-img {
  width: 100%;
  border-radius: 10px;
}

.animal-box-content h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #007bff;
}

.animal-box-content p {
  font-size: 1rem;
  color: #666;
}

/* Botón "Leer más" */
.read-more {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-more:hover {
  background-color: #0056b3;
}

/* Sección CTA (Call To Action) y FAQ */
.faq-section, .cta-section {
  text-align: center;
  margin: 40px 0;
}

.cta-section {
  margin-top: 20px;
}

.hero-section {
  text-align: center;
  margin-top: 20px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.framer-text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #444;
}

.custom-heading {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}

/* Ajustes generales */
body {
  background-color: #f4f4f4; /* Fondo más amigable */
  font-family: 'Arial', sans-serif;
}

.ion-card {
  background-color: #ffffffdd; /* Fondo blanco con transparencia */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.ion-item {
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 0;
}
