body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    width: 100%; /* Aseguramos que el body ocupe todo el ancho de la pantalla */
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* Centra el contenido de la página */
}

.hero-section, .animals-section {
    padding: 2rem 1rem;
}


.map-container {
    width: 90%;
    height: 450px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3); /* Sombra */
}

img {
    width: 100%;
    height: auto;
}

#map {
    height: 100%;
    width: 100%;
}

.animals-section {
    display: flex;
    flex-direction: column; /* Los bloques en columna */
    gap: 40px; /* Espaciado entre los bloques */
    width: 100%;
    margin-top: 40px;
    background-color: rgb(245, 245, 245); /* Fondo más claro */
    padding: 20px;
    box-sizing: border-box;
}

.animal-box {
    display: flex;
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centra los bloques en la página */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3); /* Sombra */
}

.animal-box img {
    width: 40%; /* La imagen ocupa el 40% del contenedor */
    height: auto;
    border-radius: 10px;
}

.animal-box-content {
    width: 55%;
    padding-left: 20px; /* Espacio entre la imagen y el contenido */
}

.read-more {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.read-more:hover {
    background-color: #444;
}

.faq-section {
    text-align: center;
    margin-top: 40px;
    width: 100%;
}

.cta-section {
    text-align: center;
    margin-top: 40px;
}

.cta-buttons a {
    padding: 10px 20px;
    background-color: #070100;
    color: white;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px 0;
    background-color: #000000;
    color: white;
    width: 100vw; /* Usamos 100vw para asegurarnos que ocupe todo el ancho de la ventana */
    position: relative;
    left: 0;
    right: 0;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

p {
    margin: 0.5rem 0;
}

.custom-heading {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.7px;
    line-height: 1.5em;
    text-align: center;
    color: rgb(136, 136, 136); /* Puedes ajustar este valor según sea necesario */
}

.animal-box div {
    width: 55%; /* El texto ocupa el 55% del contenedor */
}

.animal-box h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left; /* Alineación a la izquierda */
}

.animal-box p {
    text-align: left; /* Alineación a la izquierda */
    margin-bottom: 20px; /* Espaciado inferior entre el texto y el botón */
}
